.header {
    display: flex;
    margin: 0 auto;
}

.navigation {
    min-width: fit-content;
    margin-right: 1rem;
    margin-left:  1rem;
    padding: 1rem;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    list-style: none;
    gap: 1rem;
    align-items: center;
}

.navigation a:hover {
    color: #A9F5F2;
    text-decoration: underline;
}
