.header {
    border: 1px solid #ccc;
    padding: 1.5rem;
    border-radius: 4px;
    display: inline-table;
    justify-content: space-between;
    margin: 0  1.5rem 0 0;
    width: 93.5vw;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
}

.navigation a:hover {
    color: #A9F5F2;
    text-decoration: underline;
}
