.header {
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 4px;
    align-items: center;
    align-content: center;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 1vw;
}

.navigation a:hover {
    color: #A9F5F2;
    text-decoration: underline;
}