.header {
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.navigation {
    margin-left: min(10vw, 10rem);
    display: flex;
    list-style: none;
    gap: 1rem;
}

.navigation a:hover {
    color: #A9F5F2;
    text-decoration: underline;
}
